db.sqlite3
.env
staticfiles/

/portfolio/static/profile-pic.jpg
/portfolio/static/image.png
/portfolio/static/monaspace-v1.101
/portfolio/static/images/profile-pic.jpg
/portfolio/static/Aditya-Rajgor-Resume.pdf
/portfolio/linkedin-util.py
/portfolio/linkedin.ipynb

/portfolio/migrations
/portfolio_website/__pycache__
/portfolio_website/staticfiles

