db.sqlite3
/portfolio/static/profile-pic.jpg
/portfolio/static/image.png
.env
/portfolio/static/monaspace-v1.101
/portfolio/static/images/profile-pic.jpg
/portfolio/migrations
staticfiles/
portfolio_website/staticfiles
./staticfiles
/staticfiles